$color-green: #51b56d;
$color-light: #e3f4e8;
$color-white: #fff;
$color-black: #141515;
$color-grey: #828489;
$box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
	rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
$media-tablet: 768px;
$media-desktop: 1024px;
